{% extends "base.html" %}

{% block content %}
    <div class="col-md-10 m-auto mb-0 mt-lg-5 mt-md-5">
        <div class="card-group">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Game {{ game.id }}</h5>
                    <p class="card-text"><b>Number of Players: </b> {{ game.players_count }}</p>
                    <p class="card-text"><b>Sequence of characters on the board: </b> {{ game.board }}</p>
                    <p class="card-text"><b>Cards in the deck: </b> {{ game.cards }}</p>
                    <p class="card-text"><b>Winner: </b> {{ game.winner|default:"-" }}</p>
                    <p class="card-text"><b>Moves: </b> {{ game.last_move }}</p>
                    <p class="card-text">
                        <small class="text-muted">Created {{ game.created_at|date:"Y-m-d H:i" }}</small>
                    </p>
                </div>
            </div>
        </div>
    <div class="to-list col-md-10 m-auto mb-0 mt-lg-5 mt-md-5">
        <a href="{% url "color-board-list" %}" class="d-block btn btn-primary col-md-4 m-auto">Back to list</a>
    </div>
    </div>
{% endblock %}